body{
	font-size: 8pt;
}	
h1{
	font-size: 18pt;
}
h2{
	font-size: 12pt;
}
h3{
	font-size: 10pt;
}
.alncenter { text-align: center; }
@media screen and (max-width:8.5in) {
	
}
@media print {
	body{
		
	}
	.heading{
		
	}
	.cell-block{
		
	}
	table{
		
	}
	table tr{
		
	}
	
}